<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo">
      <img src="/logo.png">
    </a>
    <h1>Work in Progress...</h1>
    <p>Hande Yazar prepping questions, Bugrahan Cigdemoglu prepping the site.</p>
  </div>
  <div id="worldmap"></div>
</div>
<div class="container">

</div>

<script id="mapviz" src="/src/mapviz.js" data-accesskey='<%= process.env.MAPBOXTOKEN %>'></script>

</body>
</html>
